.signup-cont {
  max-height: 400px;
}

.welcome-header {
  font-size: 70px;
  color: var(--orange);
}

.welcome-text {
  font-size: 30px;
}

.btn-cont {
  margin-top: 80px;
}

.btn-signup {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--grey);
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--orange);
}

@media only screen and (max-width: 768px) {
  .welcome-header {
    font-size: 50px;
  }

  .welcome-text {
    font-size: 14px;
  }

  .btn-signup {
    font-size: 20px;
  }
}
