.loaderBg {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  background-color: #fffbfa;
  opacity: 0.8;
  z-index: 901;
}
.loader {
  border: 15px solid white;
  border-top: 15px solid #e3502f;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
