.findSection {
  margin-top: -3rem;
  background-color: var(--bg);
  -webkit-clip-path: polygon(0% 0%, 50% 7%, 100% 0%, 100% 100%, 50% 93%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 7%, 100% 0%, 100% 100%, 50% 93%, 0% 100%);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.findHead {
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  padding-top: 2rem;
}

.findText {
  font-size: 16px;
  line-height: 24px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .findHead {
    font-size: 2.8rem;
    line-height: 1.5;
    padding-top: 3rem;
  }

  .findText {
    font-size: 1.3rem;
    line-height: 1.5;
    padding-top: 1.2rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .findText {
    max-width: 1160px;
    font-size: 25px;
    line-height: 40px;
  }
}
