.Bg-img {
  background-image: url(../../images/regBH.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 50px;
}

.regCont {
  max-width: 900px;
}

.regLogoCont {
  width: 248px;
}

.JoinForm {
  width: 500px;
  background: #ffffff;
  box-shadow: 0px 3.16342px 62.4016px 3.16342px rgba(227, 80, 47, 0.1);
  border-radius: 8px;
  padding: 70px 30px;
  background: url(./Ellipse\ 803.svg) center center, #fff;
}

.labelForm {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}

.regInput {
  width: 100%;
  height: 3rem;
  border: 1px solid var(--grey);
  padding: 8px 10px;
  border-radius: 5px;
  background-color: transparent;
}

.regInput::placeholder {
  font-size: 14px;
}

.btnSign-up {
  width: 100%;
  height: 3rem;
  background-color: var(--green);
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.btnSign-up:disabled {
  background-color: #359e4c;
  color: #fff;
}

.btnSign-up:hover {
  border: 1px solid gray;
}

.btnSign-up:active {
  transform: scale(0.97);
}

.or {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.regIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.regSocial {
  font-size: 20px;
}

.acct {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.acct a {
  text-decoration: none;
  color: #111010;
  font-weight: 600;
  margin-left: 1rem;
}

/* styles for RegisterOld.js I think */

/* .NameCard {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
} */

/* .regInput1 {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  background-color: transparent;
} */

/* Media query for screens below 900*/
@media screen and (max-width: 900px) {
  .Bg-img {
    padding: 50px 20px;
  }

  .regLogoCont {
    display: none;
  }

  .JoinForm {
    margin: 0 auto;
    max-width: 100%;
    padding: 50px 20px;
  }
}

/* Media query for screens smaller than 600px */
/* @media (max-width: 600px) {
  .NameCard {
    width: 100%;
    flex-direction: column;
  }
  .regInput {
    width: 100%;
    margin-top: -0.5rem;
  }
  .btnSign-up {
    width: 100%;
  }
  .regIcon {
    flex-direction: row;
    font-size: 0.5px;
  }
  .labelForm {
    flex-direction: column;
  }
} */