.dashboard {
  padding: 0rem;
}
.dashboard h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 34.8282px;
  line-height: 51px;
  text-align: center;
  color: #eae1e1;
  background-color: #e3502f;
}
/* .ant-anchor-link {
  background-color: red;
} */
.ant-row {
  margin-top: -0.5rem !important;
}
.ant-col-8 {
  background-color: #e3502f;
  padding: 0.5rem;
}
.ant-col-8 div {
  width: 100%;
}
.ant-col-8 div img {
  width: 100%;
}
.ant-col-8 .userProfile p {
  text-align: center;
  line-height: 10px;
  color: #ffffff;
  font-weight: 600;
}
.userMenu a {
  line-height: 50px;
}
.username {
  margin: 1rem auto 0.5rem;
}
.ant-anchor::before {
  border-inline-start: none !important;
}
.ant-anchor-link {
  padding-inline: 0rem !important;
}
.ant-anchor-link-title {
  color: #eae1e1 !important;
  text-decoration: none;
  font-weight: 600;
  line-height: 25px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-anchor-wrapper:not(
    .ant-anchor-wrapper-horizontal
  )
  .ant-anchor
  .ant-anchor-ink {
  background-color: #fff !important;
  height: 45px !important;
  width: 5px !important;
  left: -6px;
}
.ant-anchor-link-title-active {
  background: rgba(217, 217, 217, 0.2) !important;
}
/* .ant-col-16 #part-1 {
  background-color: #bdb6b4 !important;
} */
.dashboardDetail {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 0rem !important;
  text-align: right;
}
/* .formContainer {
  margin: 1rem 2rem;
} */
#form_item_path {
  margin: 2rem auto !important;
}
.ant-row .ant-form-item-row {
  margin: auto 2rem;
  /* width: 80%; */
}
.ant-input {
  width: 90%;
}
.ant-input:hover {
  border-color: rgba(0, 0, 0, 0.3) !important;
}
.ant-form-label {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
