.dashboard {
  padding: 0rem;
  display: grid;
  grid-template-rows: 4rem 1fr;
}
.dashboard h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 81px;
  color: #eae1e1;
  line-height: 51px;
  text-align: center;
  background-color: #e3502f;
}
.dashboardContainer {
  display: grid;
  grid-template-columns: 15rem 1fr;
  margin-top: -0.5rem;
}
.sidebar {
  background-color: #e3502f;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userProfile {
  text-align: center;
}
.userProfile p {
  text-align: center;
  line-height: 10px;
  color: #ffffff;
  font-weight: 600;
}
.userCareer {
  font-size: 12px;
  margin-bottom: 2rem;
}
.userMenu {
  margin: 1rem auto;
  padding-left: 0;
}
.userMenu li {
  list-style-type: none;
  margin: 1.5rem auto;
}
.userMenu li span {
  line-height: 40px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: block;
  text-align: center;
}

.userMenu li span:hover {
  background: rgba(217, 217, 217, 0.2);
}
.span-select {
  border-left: 10px solid #fff;
  background: rgba(217, 217, 217, 0.2);
  padding-left: 10px;
  transition: 0.1s ease-in-out all;
}
.username {
  margin: 1rem auto 0.5rem;
}
.harmburger {
  display: none;
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--whiteColor);
}
.dahsboardBody {
  padding: 3rem;
}
.logout {
  background: #359e4c !important;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #eae1e1;
  margin: 0rem 2rem;
}
.logoutIcon {
  font-size: 2rem;
  color: #eae1e1;
}
@media only screen and (max-width: 900px) {
  .harmburger {
    display: block;
    margin-right: 1rem;
    z-index: 901;
    text-align: right;
    position: absolute;
    left: -0.5rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #555353;
    opacity: 0.6;
    z-index: 899;
  }
  .dashboardContainer {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
  .dahsboardBody {
    padding: 0.5rem;
  }
  .sidebarMobile {
    display: block;
    position: absolute;
    background-color: #e3502f;
    z-index: 900;
    animation-name: animateleft;
    animation-duration: 1s;
    width: 50%;
    padding: 1rem 0rem;
  }
  .userProfile {
    text-align: center;
  }
  .userProfile img {
    width: 50%;
  }
  @keyframes animateleft {
    from {
      opacity: 0;
      transform: scale(0%);
    }
    to {
      opacity: 1;
      transform: scale(100%);
    }
  }
}
@media only screen and (max-width: 400px) {
  .sidebarMobile {
    width: 75%;
  }
}
