.header {
  font-size: 2rem;
  margin: 2.5rem 0rem;
}

.featCard {
  background: url(../HomeCSS/Vector\ 14.svg) center center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.featInput {
  position: relative;
  width: 70%;
  margin-top: 2rem;
  padding: 0.6rem 1rem;
  border: 2px solid var(--grey);
  border-radius: 2rem;
  background: transparent;
  padding-right: 3rem;
}

.search {
  position: absolute;
  margin-top: 2.5rem;
  margin-left: -3rem;
  width: 2rem;
  height: 2rem;
  color: var(--grey);
}

.speaker-cont {
  justify-content: center;
  margin: 0 auto;
}

.card {
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem 0rem;
  background-color: var(--bg);
}

.speakerImg {
  width: 30%;
}

.card-button {
  width: 100px;
  background-color: transparent;
  border: 2px solid var(--grey);
  font-weight: 500;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--green);
}

.starRating {
  color: rgba(254, 183, 3, 1);
  width: 1.3rem;
  height: 1.3rem;
}

.mailHeart {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.6rem;
  color: var(--grey);
}

.check {
  width: 1.3rem;
  height: 1.3rem;
  color: var(--grey);
}

.check1 {
  width: 1.3rem;
  height: 1.3rem;
  color: var(--grey);
  margin-left: -0.8rem;
}

.checkText {
  color: var(--grey);
  margin-left: 0.4rem;
}

@media only screen and (min-width: 768px) {
  .search {
    position: absolute;
    margin-top: 2.5rem;
    margin-left: -3rem;
    width: 2rem;
    height: 2rem;
    color: var(--grey);
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    font-size: 2.8rem;
    margin: 2.5rem 0rem;
  }

  .search {
    position: absolute;
    margin-top: 1.8rem;
    margin-left: -3rem;
    width: 2rem;
    height: 2rem;
    color: var(--grey);
  }

  .featInput {
    position: relative;
    width: 50%;
    margin-top: 1.4rem;
    padding: 0.6rem 1rem;
    border: 2px solid var(--grey);
    border-radius: 2rem;
    background: transparent;
  }
}
