.headerLogo {
  width: 22%;
}
.navbar-main {
  background-color: rgba(227, 80, 47, 0.1);
  padding: 0rem auto;
}

.nav-gap {
  margin-left: 0rem;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 1.1rem;
  margin: auto;
  color: var(--grey);
}

.speakToggle {
  width: 2rem;
  height: 1.5rem;
  color: var(--orange) !important;
}

#logBtn {
  display: flex;
  background-color: var(--orange);
  color: var(--black);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0rem 1.5rem 1.5rem 1rem;
  white-space: nowrap;
}

.getBtn {
  background-color: var(--orange);
  color: var(--black);
  padding: 1rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 3rem 0.5rem 0.5rem 0rem;
  text-decoration: none;
  border-radius: 0rem 2rem 2rem 1rem;
}

.arrow {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.nav-link.active {
  color: var(--orange) !important;
  text-decoration: none;
}

#logBtn.active {
  color: white !important;
  text-decoration: none;
}

.heroContainer {
  display: grid;
  /* grid-template-columns: 1.8fr 1fr; */
  /* gap: 2rem; */
  padding: 0rem 2rem 2rem;
  justify-content: start;
  align-items: start;
  height: max-content;
  background-color: rgba(227, 80, 47, 0.1);
}
.heroText {
  margin-top: 0rem;
}
.speakers {
  font-style: normal;
  font-weight: 600;
  font-size: 22.9531px;
  line-height: 50px;
  color: #111010;
}
.heroTextHeading {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  /* line-height: 187px; */
  color: #111010;
}

.heroColor {
  color: #e3502f;
  border-bottom: 3px solid #e3502f;
}
.heroTextSubHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: -0.011em;
  color: rgba(0, 0, 0, 0.8);
}
.heroTextSubHeading span {
  font-weight: bolder;
}
.heroImage {
  margin-top: 2rem;
}
.heroImage img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .heroContainer {
    grid-template-columns: 1.8fr 1fr;
  }
  .heroImage {
    position: relative;
    margin-top: 2rem;
    /* margin-left: 2.5rem; */
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-gap {
    margin-left: -8rem;
    justify-content: space-between;
  }

  .nav-link {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0rem 0.6rem;
    color: var(--grey);
  }

  .heroHeader {
    font-weight: 600;
    margin: 0rem 7.5rem;
  }

  .heroText {
    padding-bottom: 2rem;
    margin: 0rem 7.5rem;
  }

  .getBtn {
    background-color: var(--orange);
    color: var(--black);
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto 7.5rem;
    text-decoration: none;
    border-radius: 0rem 2rem 2rem 1rem;
  }
}
