.headerLogo {
  width: 50%;
  height: auto;
  min-width: 110px;
  max-width: 200px;
}

.navbar-main {
  padding: 40px 0;
}

.navbar-main-1 {
  background-color: var(--orange);
  padding: 20px 0;
}

.navbar-main-1 .nav-link {
  color: var(--white);
}

.nav-toggle {
  color: white;
  margin-left: auto;
}

.nav-gap {
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  font-size: 1.1rem;
  margin: auto;
  color: var(--grey);
  text-align: center;
  text-decoration: none;
}

.nav-link.active {
  color: var(--orange) !important;
}

.speakToggle {
  width: 2rem;
  height: 1.5rem;
  color: var(--orange) !important;
}

.arrow {
  width: auto;
  vertical-align: middle;
  margin: auto 0 auto 0.5rem;
  font-size: 20px;
}

#logBtn {
  display: flex;
  background-color: var(--white);
  color: var(--orange);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0rem 1.5rem 1.5rem 1rem;
  white-space: nowrap;
  width: auto;
}

#logBtn.active {
  color: white !important;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .nav-link {
    color: var(--grey);
    text-align: unset;
    margin: 0rem 0.6rem;
  }

  #logBtn {
    background-color: var(--orange);
    color: var(--white);
  }
}
