.dashboard label {
  margin-top: 1rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.inputsWrapper {
  display: flex;
  gap: 2rem;
}
.credentialsInstructions {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(17, 16, 16, 0.4);
  margin-bottom: 0rem;
}
.input {
  width: 50%;
  padding: 0.5rem;
}
.input,
.textArea {
  border: 2.43px solid rgba(148, 141, 141, 0.3);
  border-radius: 5.15455px;
}
.textArea {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
}
.input:focus,
.textArea:focus {
  outline: 1px solid #e3502f;
}
.input:hover,
.textArea:hover {
  border-color: 1px solid #e3502f !important;
}

.textArea {
  resize: none;
  border: 1px solid #ded9d8;
  border-radius: 7px;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  outline: none;
}

.genderWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.genderWrapper label {
  cursor: pointer;
  font-size: 16px !important;
}

.newInput {
  background-color: #ded9d8;
  width: 1.2rem;
  height: 1rem;
  appearance: none;
  display: grid;
  place-content: center;
  margin-top: 1rem;
  cursor: pointer;
}
.newInput:checked {
  border: 1px solid #e3502f;
}
.newInput:checked:after {
  content: "";
  border-radius: 0%;
  padding: 0.2rem;
  background-color: #e3502f;
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
}

.selectFile {
  visibility: hidden;
}
.selectFile::before {
  content: "Select file ";
  display: block;
  visibility: visible;
  background-color: #e3502f;
  color: white;
  border-radius: 1.5px;
  width: max-content;
  padding: 0.4rem;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.editProfilePicture {
  display: grid;
  grid-template-columns: 1fr 2rem;
  gap: 1rem;
  width: max-content;
  margin-top: 1rem;
}

.btnWrapper {
  display: grid;
  grid-template-rows: 3.8rem 3.8rem 3.8rem;
  gap: 0.2rem;
}
.editProfilePicture div .btn {
  background-color: #e3502f;
  border-radius: 1.5px;
  color: white;
  padding: 0rem 1rem !important;
}
@media only screen and (max-width: 676px) {
  .inputsWrapper {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .editProfilePicture {
    grid-template-columns: 1fr 1fr;
  }
  .btnWrapper {
    grid-template-rows: 3rem 3rem 3rem;
  }
}
