.formContainer {
  margin: 3rem;
  position: relative;
}
.editContainer {
  display: flex;
  justify-content: flex-end;
}
.edit {
  background: #948d8d;
  color: #ffffff;
}
.dashboard label {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.inputsWrapper {
  display: flex;
  gap: 2rem;
}
.credentialsInstructions {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(17, 16, 16, 0.4);
  margin-bottom: 0rem;
}
.input {
  width: 50%;
  padding: 0.5rem;
}
.input,
.textArea {
  border: 2.43px solid rgba(148, 141, 141, 0.3);
  border-radius: 5.15455px;
}
.textArea {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
}
.input:focus,
.textArea:focus {
  outline: 1px solid #e3502f;
}
.input:hover,
.textArea:hover {
  border-color: 1px solid #e3502f !important;
}

.textArea {
  resize: none;
  border: 1px solid #ded9d8;
  border-radius: 7px;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 15px;
  outline: none;
}

.genderWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.genderWrapper label {
  cursor: pointer;
  font-size: 16px !important;
}

.coverBannerAndProfilePicture {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coverBannerContainer {
  position: relative;
}
.coverBannerContainer img {
  position: relative;
}

.selectFile {
  visibility: hidden;
}
.selectFile::before {
  content: "Change ";
  display: block;
  visibility: visible;
  background-color: #e3502f;
  color: white;
  border-radius: 20px 0px;
  width: max-content;
  padding: 0.4rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: absolute;
  left: 11.7rem;
  bottom: 1.9rem;
}

.editProfilePicture {
  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 1rem;
  width: max-content;
  place-content: center;
}

.btnWrapper {
  display: grid;
  grid-template-rows: 4rem 4rem;
  gap: 0.2rem;
}
.editProfilePicture div .btn {
  background-color: #e3502f;
  border-radius: 1.5px;
  color: white;
  padding: 0rem 1rem !important;
}
.pastEventsCointainer {
  display: grid;
  grid-template-columns: 1fr 8rem 5%;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem 0rem;
}
.events {
  display: flex;
  gap: 1rem;
}
.eventDetails h6 {
  font-weight: 500;
  font-size: 25.035px;
  line-height: 31px;
}
.eventDetails p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20.028px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.79);
}
.pastEventsCointainer button,
.saveAndEdit button:first-child {
  height: 2rem;
  background: #ffffff;
  border: 2px solid #948a8a;
  border-radius: 3.63285px;
  font-weight: 700;
  font-size: 14.5314px;
  line-height: 18px;
  color: #948a8a;
  white-space: nowrap;
  padding: 0rem 1rem;
  cursor: pointer;
}
.delete {
  font-size: 2rem;
  color: #948a8a;
  cursor: pointer;
}
.saveAndEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addEventContainerModalOverlay {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #e3502f;
  opacity: 0.8;
  z-index: 899;
  overflow-y: scroll;
  padding-bottom: 3rem;
}
.addEventContainer {
  position: absolute;
  width: 70%;
  left: 15%;
  bottom: 0rem;
  z-index: 901;
}
@media only screen and (max-width: 900px) {
  .formContainer {
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 676px) {
  .inputsWrapper {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .editProfilePicture {
    grid-template-columns: 1fr 1fr;
  }
  .coverBannerAndProfilePicture {
    grid-template-columns: 1fr;
  }
  .btnWrapper {
    grid-template-rows: 3rem 3rem;
    place-content: center;
  }
  .events {
    flex-direction: column;
    gap: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .pastEventsCointainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .delete {
    margin: auto;
  }
  .editProfilePicture {
    grid-template-columns: 1fr;
  }
}
