.form-header {
  margin: 30px 0;
  text-align: center;
}

.form-header h1 {
  font-size: 47px;
  font-weight: 500;
  line-height: 57px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.form-header p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #948d8d;
  max-width: 550px;
  margin: 0 auto;
}

.form {
  text-align: center;
  /* margin: 0 10px ; */
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.profileLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

.profileInput,
select,
textarea {
  width: 100%;
  padding: 5px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #948d8d;
  background-color: #f6f4f4;
}

.profileForms .gender {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
  text-align: left;
}

.genders {
  display: inline-block;
  vertical-align: middle;
  /* -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 50%; */
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #d9d9d9;
  margin-right: 16px;
}

.genderLabel {
  font-weight: 500;
}

.genderLabel.color--grey {
  color: #11101080;
}

.genderLabel.color--orange {
  color: #e3502f;
}

.profileForms .upload {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
}

.profileForms .upload {
  margin-bottom: 20px;
}

.profileForms .upload button {
  border-radius: 5px;
  background-color: #e3502f;
  padding: 5px 10px;
  border: none;
  color: #fff;
  margin: 15px 0;
}

.profileForms .upload p {
  font-size: 12px;
}

.visibilty-container {
  background-color: #f6f4f4;
  max-width: 1140px;
  margin: 0 auto;
  text-align-last: left;
  padding: 25px 40px;
  border-radius: 6px;
}

.visibilty-heading {
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  margin-bottom: 70px;
}

.visibilty-container .visibilty-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #111010b2;
  margin-top: 5px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.submitBtn {
  margin-top: 14px;
  /* background-color: #04aa6d; */
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 40px;
  width: auto;
}

.submitBtn--grey {
  background-color: #948d8de5;
}

.submitBtn--orange {
  background-color: #e3502f;
}

.bio {
  background-color: #f2f2f2;
  padding: 20px;
}

.bio h2 {
  font-size: 16px;
  display: flex;
}

.bio-items {
  display: flex;
  align-items: center;
}

.profileForms #addnew {
  padding: 5px 10px;
  display: flex;
  margin-top: 20px;
  font-family: 700;
  color: #d9d9d9;
  background-color: #fff;
  border: #d9d9d9 1px solid;
}

@media (min-width: 768px) {
  .form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  .form-header h1 {
    font-size: 32px;
  }

  .form-header p {
    font-size: 23px;
  }

  .form {
    margin: 0 80px;
  }

  .profileInput,
  select,
  textarea {
    padding: 10px;
    margin: 10px 0 20px;
  }

  .profileForms .upload button {
    font-size: 18px;
  }

  .profileForms .upload p {
    font-size: 14px;
  }

  .profileLabel {
    font-size: 25px;
    line-height: 30px;
  }

  input[type="submit"] {
    margin-top: 14px;
    background-color: #04aa6d;
    border: none;
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 5px;
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .form {
    max-width: 1000px;
    margin: 0 auto;
  }
}
