.create-profile {
  padding: 0 20px;
}

.form-header {
  margin: 30px 0;
  text-align: center;
}

.form-header h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form-header p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #948d8d;
  max-width: 550px;
  margin: 0 auto;
}

.form-container {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: 40px auto;
}

.profile-steppers {
  margin-bottom: 50px;
}

.profile-step {
  display: none;
}

.profile-form ::placeholder {
  font-family: inherit;
  color: #11101066;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.profile-group {
  margin-bottom: 20px;
}

.profile-field {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
  text-align: left;
}

.profile-label-field {
  align-self: start;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

.profile-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.profile-input,
.profile-file,
.profile-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #948d8d;
  background-color: #f6f4f4;
}

.profile-error {
  color: red;
  text-align: left;
  font-size: 14px;
}

.check-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.check-input {
  display: none;
}

.check-label {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
}

.check-radio-button {
  height: 24px;
  width: 24px;
  min-width: 24px;
  border: 4px solid #ded9d8;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.check-radio-button::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e3502f;
  opacity: 0;
  transition: all 0.2s;
}

.check-input:checked ~ .check-label {
  color: #e3502f;
}

.check-input:checked ~ .check-label .check-radio-button {
  border: 4px solid #e3502f;
}

.check-input:checked ~ .check-label .check-radio-button::after {
  opacity: 1;
}

.check-checkbox {
  display: none;
}

.check-checkbox-button {
  height: 24px;
  width: 24px;
  background-color: #ded9d8;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s;
}

.check-checkbox:checked ~ .check-label {
  color: #e3502f;
}

.check-checkbox:checked ~ .check-label .check-checkbox-button {
  background-color: #e3502f;
}
.otherState-input {
  border: 1px solid #e3502f;
  padding: 0.5rem;
  border-radius: 3px;
  display: none;
}
.displayBlock {
  display: block;
}
.otherState-input:active {
  outline: none;
}

.visibility-heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
}

.visibility-container {
  background-color: #f6f4f4;
  max-width: 1140px;
  margin: 0 auto;
  text-align: left;
  padding: 25px 10px;
  border-radius: 6px;
}

.visibility-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #111010b2;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 40px;
  gap: 20px 50px;
}

.submitBtn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  width: auto;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.submitBtn--grey {
  background-color: #948d8de5;
}

.submitBtn--grey:hover {
  color: #454545;
  background-color: #fff;
  border: 1px solid #454545;
}

.submitBtn--orange {
  background-color: #e3502f;
}

.submitBtn--orange:hover {
  color: #e3502f;
  background-color: #fff;
  border: 1px solid #e3502f;
}

@media (min-width: 768px) {
  .create-profile {
    padding: 0 50px;
  }

  .form-container {
    max-width: 700px;
  }

  .profile-step {
    display: block;
  }

  .form-header h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 57px;
  }

  .form-header p {
    font-size: 20px;
  }

  .profile-field {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }

  .profile-label-field {
    align-self: start;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .profile-form ::placeholder {
    font-size: 15px;
  }

  .profile-label {
    font-size: 25px;
    line-height: 30px;
  }

  .profile-input,
  .profile-textarea {
    padding: 15px 20px;
  }

  .check-label {
    font-size: 18px;
  }

  .check-radio-button {
    height: 28px;
    width: 28px;
  }

  .check-radio-button::after {
    height: 12px;
    width: 12px;
  }

  .check-checkbox-button {
    height: 28px;
    width: 28px;
  }

  .visibility-heading {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 70px;
  }

  .visibility-container {
    padding: 25px 40px;
  }

  .visibility-paragraph {
    font-size: 20px;
    line-height: 28px;
  }

  .submitBtn {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  .form-container {
    max-width: 1000px;
  }
}
