.footer {
  background-color: var(--orange);
  padding-bottom: 30px;
}

.eventBtn {
  border: 1.5px solid white;
  font-weight: 600;
  color: white;
  width: 200px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btns a {
  width: 200px;
  white-space: nowrap;
  padding: 0.5rem;
}
.invalidInput {
  border: 1px solid #f4511e;
  color: #f4511e;
  outline: none;
  border-radius: 0.4rem;
  width: 100%;
  padding: 10px;
  height: 45px;
}
.errorText {
  color: #f4511e;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0px;
}
.eventBtn1 {
  background-color: white;
  color: var(--orange);
}

.news {
  font-size: 1rem;
  text-align: start;
  color: var(--orange);
  text-align: center;
}

.footerForm {
  border-radius: 0.4rem;
  margin: 2rem auto;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: auto;
  width: max-content;
  max-width: 100%;
}

.footerInCont {
  width: 100%;
  max-width: 300px;
}

.footerInput {
  border: 1px solid var(--grey);
  border-radius: 0.4rem;
  color: var(--grey);
  width: 100%;
  padding: 10px;
  height: 45px;
}

.footerInput::placeholder {
  font-size: 14px;
}

.footBtn {
  color: white;
  background-color: var(--grey);
  height: 45px;
}

.footerNav {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: auto 1rem;
}

.footerNav a {
  white-space: nowrap;
}

.footerLogo {
  width: 6.5rem;
  height: 6rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
}

.icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social {
  font-size: 16px;
}

p.copyRight {
  font-size: 0.9rem;
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .footerNav {
    display: grid;
    flex-direction: unset;
  }
}

@media screen and (min-width: 768px) {
  .footerNav {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btns {
    flex-direction: row;
  }

  .copySection {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .news {
    font-size: 1.3rem;
  }

  .footerNav {
    justify-content: center;
  }

  li {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .copySection {
    flex-direction: row;
    gap: 40px;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
