.field {
  margin: 3rem;
}
.editContainer {
  display: flex;
  justify-content: flex-end;
}
.saveBtn {
  background: #359e4c;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 900px) {
  .field {
    margin: 0.5rem;
  }
}
