.aboutheading {
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
}

.aboutsubheading {
  text-align: center;
  max-width: 1150px;
  line-height: 1.7;
  font-size: 22px;
}

.aboutimg {
  text-align: center;
  margin: 20px auto;
}

/* Value section */

.values {
  background: rgba(227, 80, 47, 0.1);
  padding: 2% 20px;
  margin: 0 auto;
}

.value {
  display: flex;
}

.valueheading {
  font-size: 2.5rem;
}

.valuenum {
  margin: 0 30px;
  padding: 0;
  font-size: 1.8rem;
}

.valuetext {
  margin-right: 180px;
}

.valuesubtext {
  line-height: 1.8;
  font-size: 1rem;
}

/* Vision and Mission */

.visionandmission {
  background-color: #ffff;
  margin: 5% 30px;
}

.vision {
  background: #fcedea;
  border-radius: 65px;
  padding: 50px;
  margin-top: 8%;
  max-width: 1140px;
  position: relative;
}

.visiontitle {
  font-size: 2rem;
  font-weight: 600;
}

.visionsubtitle {
  font-size: 1.2rem;
  line-height: 1.8;
}

.visionbox {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 50px;
  height: 50px;
  background: #359e4c;
  border-radius: 50%;
  z-index: 2;
}

/* Meet the Team */
.team {
  background-color: #ffff;
  margin: 5% auto;
  max-width: 1140px;
}

.teamtitle {
  font-weight: 600;
}

.teamsubtitle {
  line-height: 1.8;
  font-size: 1.2rem;
}

.teammembers {
  margin: 10px auto 70px;
}

.teamimg {
  /* background: rgba(227, 80, 47, 0.2); */
  border-radius: 60px;
  width: 300px;
  height: 300px;
  padding: 0;
  max-width: 100%;
}

.teamname {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

.teamrole {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.teamdetail {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.teamlink {
  background: #359e4c;
  color: #fff;
  border-radius: 40px;
  padding: 15px 20px;
  display: inline-block;
}

.teamlink:hover {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .valuetext {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .herosection {
    margin-top: 2rem;
  }

  .aboutheading {
    font-size: 3em;
  }

  .aboutsubheading {
    font-size: 1.1rem;
  }

  .values {
    padding: 0;
  }

  .valueheading {
    font-size: 2rem;
  }

  .valuetext {
    margin-right: 30px;
  }

  .valuesubtext {
    font-size: 0.9rem;
  }

  .visionandmission {
    margin: 10% 20px;
  }

  .vision {
    padding: 30px;
  }

  .visiontitle {
    font-size: 1.5rem;
  }

  .visionsubtitle {
    font-size: 0.9rem;
  }

  .team {
    margin-top: 60px;
  }

  .teamtitle {
    font-size: 1.9rem;
    text-align: center;
  }

  .teamsubtitle {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 3%;
  }

  .teamimg {
    width: 250px;
    height: 250px;
  }

  .teamname {
    font-size: 1.2rem;
  }

  .teamrole {
    font-size: 1rem;
  }

  .teamdetail {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}
